---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <button
    class="bg-amber-500 py-2 px-4 rounded-md"
    hx-target="#hello"
    hx-get="/api/hello"
    hx-trigger="click"
    hx-swap="outerHTML">Say Hi!</button
  >

  <div id="hello"></div>
</Layout>
